    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eddie Orlik</title>
    <meta name="description" content="Eddie Orlik is a designer and maker.">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/assets/favico.png" sizes="32x32">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
    <script type="module" src="/suncalc/suncalc.js"></script>
    <script src="/scripts.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body data-theme="light_theme">
    {% include "nav-menu.njk" %}

    <main>
        {{ content | safe }}
    </main>
    
</body>

</html>