<span onclick="toggleMenu()" id="menu-btn">
  <svg id="plus-icon">
    <use href="#icon-plus"></use>
  </svg>
  <svg id="x-icon">
    <use href="#icon-x"></use>
  </svg>
</span>
    
    <h2 id="site-title">Eddie Orlik</h2>
<nav id="nav">
    <div class="nav-links">
        {% for i in collections.nav %}
        <span class="nav-link {{ 'active-nav-item' if i.url == page.url }}" id="{{ i.fileSlug }}">{{ i.data.title }}</span>
        {% endfor %}
    </div>
</nav>


