/*body {
  font-family: avenir, helvetica, arial, sans-serif;
  color: white;
  background-color: #3E3DCB;
}
*/

body[data-theme='light_theme'] {
  --white: #fff;
  --bg-color: #F8F8F8;
  --color: #151977;
  --secondary-color: #ff7f57;
  --icon-bg-color: #333;   
  --icon-color: #333;
}

body {
  font-family: avenir, helvetica, arial, sans-serif;
  background: var(--bg-color);
  color: var(--color);
  text-align: center;
}

body[data-theme='dark_theme'] {
  --white: #fff;
  --bg-color: #3E3DCB;
  --color: #fff;
  --secondary-color: #ff7f57;
  --icon-bg-color: #333;   
  --icon-color: #fff;
}

p, img, h2 {
  max-width: 95vw;
  margin: 1em auto;
}

img {
  height: auto;
}

.poster-img>img {
  border: white 0.5em solid;
  transform: translateX(-0.5em) scale(90%);
  margin: 0;
}

a {
  color:inherit;
}

main {
  position: static;
}

nav {
  left:0px;
  background: var(--bg-color);
  position:fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  display:none;
  z-index: 1;
}

.show {
  display:block;
}

.nav-links {
  padding-top: 25vh
}

.nav-link {
  font-size: 2em;
  position: relative;
  bottom: 0;
}

#menu-btn {
  width:1em;
  z-index: 2;
  text-align: center;
  display: block;
  position: fixed;
  top: 0;
  right: 0.5em;
  font-size: 3.5rem;
  font-weight: bolder;
  transition: ease-in-out;
  animation-duration: 0.3s;
  cursor:pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.rotate {
  transform:rotate(45deg)
}

.nav-link {
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 20px;
  display: block;
  animation: ease-in-out;
  transition-duration: 0.2s;
  cursor: pointer;
}

.active-nav-item, .active-nav-item:hover {
  text-decoration: underline;
}

@media screen and (min-width: 40em) {

  #menu-btn {
    visibility: hidden;
  }

  p, img {
    max-width: 25em;
  }

  img {
    height: auto;
  }

  nav {
      position:fixed;
      padding-left: 30px;
      display: block;
      top: 5em;
      z-index: 0;
      background:transparent;
  }

  #site-title {
    position: fixed;
    left: 2em;
  }

  .nav-links {
    padding:0;
  }

  .nav-link {
    font-size: initial;
    text-align: initial;
    width: fit-content;
    cursor: pointer;
  }

  .nav-link:hover {
      transform: rotate(-12deg) translateX(17px);
      transform-origin: center;
  }

  .active-nav-item, .active-nav-item:hover {
      font-size: 120%;
      transform: translate(105px,20px) rotate(-33deg) ;
      transform-origin: bottom left;
      animation: ease-in-out;
      transition-duration: 0.2s;
  }

  main {
      position: absolute;
      top: 100px;
      left: 250px;
  }

  
  
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  flex-direction:row;
}